.home header img{
    width: 50%;
}
header{
    background-color: yellow;
}
.search__bar button{
    background-color: white;
    border: 0.1px solid grey;
    font-size: 20px;
    padding: 2px;
}
.search__bar input{
    padding: 5px;
    border-radius: 3px;
    
}
.home .search__bar{
    padding: 20px;
}
.home .comprar{
    font-size: 14px;
    text-align: center;
    margin-bottom: 10px;
}
.home header nav .lista{
    padding-bottom: 20px;
}
.home header .burger-menu{
    display: flex;
    justify-content: center;
}
.home header .burger-menu i{
    background-color: #1259c3;
    font-size: 25px;
    color: white;
    padding: 12px;
    border-radius: 10px;
    margin-bottom: 12px;
}
.banner__visita{
    background-color: #ebebeb;
}