.main__article--cafetera{
    margin-bottom: 10px;
}
.main__article--cafetera h3{
    font-size: 18px;
}
.main__article--cafetera p{
    font-size: 16px;
}
.main__article--cafetera h4{
    font-size: 16px;
}
.main__article--macbook {
    margin-bottom: 10px;
}
.main__article--macbook h3{
    font-size: 18px;
}
.main__article--macbook p{
    font-size: 16px;
}
.main__article--macbook h4{
    font-size: 16px;
}
.main__article--telefono{
    margin-bottom: 10px;
}
.main__article--telefono h3{
    font-size: 18px;
}
.main__article--telefono p{
    font-size: 16px;
}
.main__article--telefono h4{
    font-size: 16px;
}
.main__article--television {
    margin-bottom: 10px;
}
.main__article--television h3{
    font-size: 18px;
}
.main__article--television p{
    font-size: 16px;
}
.main__article--television h4{
    font-size: 16px;
}